doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
  head
    title Volumetric renderer
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
    meta(name="description" content="Volume rendering experiment")
    meta(name="author" content="Attila V. Molnár")
    // Open Graph data
    meta(property="og:title" content="Volumetric renderer")
    meta(property="og:determiner" "an")
    meta(property="og:type" content="website")
    // The name of the larger website
    meta(property="og:site_name" content="")
    meta(property="og:description" content="Volume rendering experiment")
    // An image url wich will represent the object in the graph and on the twitter card
    meta(property="og:image" content="")
    meta(property="og:locale" content="en_US")
    // Twitter metas
    // Card types, use app when there is direct download for a mobile app, player for media.
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="")
    meta(name="twitter:creator" content="Analogika")
    link(rel="stylesheet", href="main.css")
  body
    header Volumetric Render experiment
    #canvas_container