doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
  head
    title Astrea
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
    meta(name="description" content="Astrea volume renderer, for science and art projects")
    meta(name="author" content="Attila V. Molnár")
    include social.pug
    include favicon.pug
    link(rel="stylesheet", href="main.css")
  body.background.fill
    #canvas_container.fill
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.min.js")
    script#volumetric-vertex(type='x-shader/x-vertex' src='shaders/volumetric-vertex.glsl')
    script#volumetric-fragment(type='x-shader/x-fragment' src='shaders/volumetric-fragment.glsl')
    script(src="cellvis.js")
    script(src="app.js")
