meta(property="og:title" content="Astrea")
meta(property="og:determiner" "auto")
meta(property="og:type" content="website")

meta(property="og:site_name" content="astrea.xyz")
meta(property="og:description" content="Astrea volume renderer, for science and art projects")

meta(property="og:image" content="./img/icons/logo.png")
meta(property="og:locale" content="en_US")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="")
meta(name="twitter:creator" content="Attila V. Molnár")
