@font-face {
  font-family: "CMUConcrete-Bold";
  src: url("./fonts/cmunobx.eot"); /* IE9 Compat Modes */
  src: url("./fonts/cmunobx.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/cmunobx.otf") format("opentype"), /* Open Type Font */
  url("./fonts/cmunobx.svg") format("svg"), /* Legacy iOS */
  url("./fonts/cmunobx.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/cmunobx.woff") format("woff"), /* Modern Browsers */
  url("./fonts/cmunobx.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
  background-color: #626262;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mock_storage {
    display: none;
}

#canvas_container {
    width: 100%;
    height: 100%;
}

.error {
  color: #e42f2f;
}

.hint {
  color: #2fe478;
}

.warning {
  color: #e4832f;
}

.info {
  color: #2f5ee4;
}

.notifyer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 10%;
  background-color: #3d4042;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-in {
  opacity: 0.8;

}

canvas  {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrappedRow {
  display: flex;
  flex-direction: row;
}

.clickable {
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.positionPivot {
  position: relative;
}

.card {
  background-color: #272727;
  height: 250px;
  width: 250px;
  margin: 40px;
}

.fillParent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.noInteraction {
  user-select: none;
  pointer-events: none;
}

.thumb {
  height: 200px;
}

.center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.noShrink {
  flex-shrink: 0;
}

.widthConstraint {
  max-width: 250px;
}

.marginTop {
  margin-top: 10px;
}

.cardText {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

.infoText {
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: CMUConcrete-Bold;
}

.enlargeOnHover {
  transform: scale(1);
  -webkit-transition: transform 0.4s; /* Safari */
  transition: transform 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.enlargeOnHover:hover {
  transform: scale(1.6);
}

.interactionZDept {
  z-index: 100;
}

.fadeSignIn:hover .horizontalBar {
  opacity: 0.5;
  -webkit-transition: opacity 0.4s; /* Safari */
  transition: opacity 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.fadeSignIn:hover .plusSign {
  opacity: 0.5;
  -webkit-transition: opacity 0.4s; /* Safari */
  transition: opacity 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.plusSign {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  opacity: 0;
}
