// colors

background = #626262
primary = #272727
text = #ffffff

// notifications
success = #2fe478
hint = #2f5ee4
warning = #e4832f
error = #e42f2f

// generic

.invisible
  opacity: 0

.background
  background-color: background

.success
  color: success

.hint
  color: hint

.warning
  color: warning

.error
  color: error

// Specific

.card
  background-color: primary

.plusSign
  opacity 0

.infoText
  font-family: CMUConcrete-Bold
  color: text

.notifyer
  background-color: #3d4042
  opacity: 0
  transition: opacity 0.3s

.notifyer>p
  color: inherit

.fadeIn
  opacity: 0.8

.fadeBorderIn
   border: 0

// animations

.fadeSignIn
  &:hover
    .plusSign
      opacity 0.5
      -webkit-transition opacity 0.4s
      transition opacity 0.4s
      -webkit-transition-timing-function ease-in-out
      transition-timing-function ease-in-out




.fadeBorderIn:hover
  border: 2px solid white
